# macOS
.DS_Store

# Xcode
DerivedData/
.build/
*.xcuserstate
**/xcuserdata/
*.xccheckout
*.xcscmblueprint

# SwiftPM
.swiftpm/

# CocoaPods / Carthage（如用到再打开）
# Pods/
# Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
